@import './variable';

#lobby-page {
  @extend %page;
  
  &>.button-container {
    @extend %round-box;
    margin: 2rem auto;
    width: 20rem;
    background: $light-blue-alpha;
    padding: .5rem;

    &>button {
      margin: .5rem auto;
      display: block;
      width: 16rem;
      height: 2rem;
      font-size: $title-font-size;
    }
  }
}
