@import './variable';

#login-page {
  @extend %page;

  h1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 1em;
    padding: 1rem;
    background: rgba($color: $light-blue, $alpha: 0.2);
    font-size: 3rem;
    font-weight: bold;

    span {
      display: block;
    }
  }

  #login-form {
    font-size: $title-font-size;
    position: absolute;
    top: 4rem;
    left: 2rem;
    width: 10rem;

    input[type="submit"],
    button {
      display: inline-block;
      margin: .5em 1em 0 0;
    }
  }
}
