@import './variable';

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
  font-family: $default-font-family;
  font-size: $normal-font-size;
  line-height: 1.3;
  color: #fff;
}

input,
button,
textarea {
  font: inherit;
}

.hide {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.clickable {
  cursor: pointer;
}

.full-size {
  @extend %full-size;
}

input[type="text"],
input[type="password"] {
  @extend %round-box;
  width: 100%;
  border: .1rem solid #1d7eec;
}

button,
input[type="submit"],
input[type="reset"] {
  @extend %button;
}

form {
  label,
  input {
    display: block;
    margin-bottom: .2em;
  }
}
