#login-page {
  background: #0e1736;

  h1 {
    position: absolute;
    top: 2rem;
    right: 2rem;
    border-radius: 1em;
    padding: 1rem;
    background-color: rgba(96, 185, 245, .2);
    font-size: 3rem;
    font-weight: bold;

    span {
      display: block;
    }
  }

  #login-form {
    position: absolute;
    top: 4rem;
    left: 2rem;
    width: 10rem;

    input[type="submit"] {
      margin: .5em 0;
    }
  }
}
